
<div style="text-align:center" class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>
  <br>
   <h2>First register in the form</h2>
   <br>
   <br>
  <form style="text-align:left">
  <div class="form-group" >
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password_confirm" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group" >
    <label for="exampleInputName1">Name</label>
    <input type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter Name">
  </div>
  <div class="form-group" >
    <label for="exampleInputLastname1">Last name</label>
    <input type="lastname" class="form-control" id="exampleInputLastname1" aria-describedby="lastnameHelp" placeholder="Enter Last name">
  </div>
  <div class="form-group" >
    <label for="exampleInputCountry1">Country</label>
    <input type="country" class="form-control" id="exampleInputCountry1" aria-describedby="countryHelp" placeholder="Enter country">
  </div>
  <div class="form-group" >
    <label for="exampleInputBirthdate1">Birthdate</label>
    <input type="date" class="form-control" id="exampleInputBirthdate1" aria-describedby="birthdateHelp" placeholder="Enter Birthdate">
  </div>
  <div class="form-group" >
    <label for="exampleInputPhonenumber1">Phone number</label>
    <input type="number" class="form-control" id="examplephonenumber1"aria-describedby="ponenumberHelp" placeholder="phonenumber">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


